{% extends "estructura/padre.html" %}

{% block cabecera %}
    <h1>Buscar promocion/es</h1>
{% endblock %}

{% block contenido %}
    {% load django_bootstrap5 %} 
    <form action = "{% url 'buscar_promocion'%}" method = "GET">
      
        {% csrf_token %}
        
        <div class="mb-4">
            {% bootstrap_field formulario.nombre show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.fecha_nacimiento.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.descripcion show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.descripcion.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.inicio show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.inicio.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.fin show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.fin.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.descuento show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.descuento.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.activo show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.activo.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        

        {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
    </form>
{% endblock %}